@charset "ISO-8859-1";

body{
	margin: 0px;
	padding: 0px;
	
}

form{
	background-color: #c7c7c7;
	text-align: center;
	width: 30%;
	padding: 2rem;
	margin-top: 8rem;
	margin-left: 30rem;
	border: none;
	border-radius: 10px;
	margin-bottom: 2rem;
}

form>h2{
	font-size: 30px;
}

form>input{
	height: 2rem;
	width: 50%;
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 5px;
	margin-bottom: 2rem;
	
}

form>#gender{
	display: flex;
	justify-content: space-between;
	width: 50%;
	align-items: center;
	margin-bottom: 2rem;
	margin-left: 7rem;
}

form>select {
	height: 2rem;
	width: 50%;
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 5px;
	margin-bottom: 2rem;
}

form>button{
	height: 2rem;
	width: 50%;
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 5px;
	
}

form>button:hover {
	background-color: gray;
}

form>button:active {
	background-color: graytext;
}
















